div {
  margin: 10px;
}

p {
  margin: 10px;
}

body {
  background-color: #A4FDA4;
}

.navbar-brand {
  font-size: 2em;
  font-weight: 700;
}

.navbar-default {
  background-color: #50F150;
}
/*.container-fluid {
  background-color: #50F150;
}*/

table {
  width: 100%;
}

iframe {
  display:inline;
  float: right;
}
