<h1>Ride List</h1>
<div ng-repeat="item in workouts | filter: {task: searchText.search}">
  <div class="container">
    <div class="panel panel-default">

      <div class="panel-body">

        <h3>Ride Details</h3>

        <h4>Date: {{item.start_datetime | date}}</h4>
        <h4>Title: {{item.name}}</h4>
        <h4>Source: {{item.source}}</h4>
        <h4>Distance: {{item.aggregates.distance_total | distance}} km</h4>
        <h4>Distance: {{item.aggregates.distance_total | miles}} miles</h4>
        <h4>Time: {{item.aggregates.active_time_total | minutes}} minutes</h4>
        <h4>Avg Heart Rate: {{item.aggregates.heartrate_avg}} bpm</h4>
        <h4>Max Heart Rate: {{item.aggregates.heartrate_max}} bpm</h4>
        <h4>Calories burned: {{item.aggregates.metabolic_energy_total | calories}}</h4>


        <!-- <div class="row">
          <div class="col-xs-6">{{item.start_datetime | date}}</div>
          <div class="col-xs-6">{{item.aggregates.distance_total | miles}} miles</div>

        </div> -->
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-success" ng-click="itemEditView(item.id)">Edit</button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-danger" ng-click="itemDelete(item.id)">DELETE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
