<section class='auth-form'>
  <h3>Login or Register with MapMyRide Login</h3>
  <div>
    Email: <input type="text" autofocus="true" ng-model="account.email">
  </div>
  <div>
    Password: <input type="password" ng-model="account.password">
  </div>
  <div>
<!--       <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/UA-login_btn-large.png">
      </a>
 -->
    <button class="btn btn-info" ng-click="login()">Login</button>
    <button class="btn btn-info" ng-click="register()">Register</button>

  </div>
</section>


